.box{margin:0 auto; width:400px; position:relative; top:50px;}

#btentrar{width:110px; margin-top:15px; margin-left:9px;}
#button{width:110px; margin-top:15px; margin-left:5px;}
#bcadastrar{width:110px; margin-top:15px; margin-left:5px;}
#menu1 .g1{position:fixed; left:17%; top:30%;}
#menu1 .g2{position:fixed; left:12%; top:40%;}
#menu1 .exit{position:fixed; left:75%; top:20%;}

#c1{position:fixed; left:2%; top:40%;}
#c2{position:fixed; left:40%; top:52%;}
#c3{position:fixed; left:77%; top:40%;}
#all{width:760px; margin: 0 auto; padding: 10px; text-align:center;}
#bg {background:url("../images/back1.png"); background-size:100% 100%;}
#bg1{background:url("../images/fundo1.png"); background-size:100% 100%;}
#bg2{background:url("../images/fundo2.png"); background-size:100% 100%;}

body {font-size:16pt; margin: 0; padding:0; text-align:center;/*hack do IE*/}
label,  input {float:left;}
legend{text-align:left; font-weight:bold;}
label {width: 45px; padding-right: 100px; padding-bottom: 10px;}
fieldset {width:330px; padding:20px 10px 20px 10px;}
br {clear: left;}